<h1>Editing modelos_contadore</h1>

<%= render 'form' %>

<%= link_to 'Ver Modelo', @modelos_contadore %> |
<%= link_to 'Todos los Modelos', modelos_contadores_path %> |
<%= link_to 'Inicio', root_path %>
