<%= form_for(@tarifa) do |f| %>
  <% if @tarifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarifa.errors.count, "error") %> prohibited this tarifa from being saved:</h2>

      <ul>
      <% @tarifa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
