<p>
  <strong>Nombre:</strong>
  <%= @t.nombre %>
</p>
 
<p>
  <strong>Descripción:</strong>
  <%= @t.descripcion %>
</p>

<%= link_to 'Volver', tipo_forma_pagos_path %>
| <%= link_to 'Editar', edit_tipo_forma_pago_path(@edit) %>