<fieldset style="vertical-align: middle; width: 20%">
  <legend>Editar factura</legend>
  <p>
<%= render 'form' %>
         </p>
  </fieldset>
<%= link_to 'Volver', facturas_path, {:class => "botonLink"} %>
