
<!-- abriendo los ficheros

	fsalida=File.new("salida.txt","w")

#leemos una linea en la variable linea que será alfanumvrica
	linea=$stdin.gets      

#bucle de lectura/escritura hasta que linea==nil
	until (linea=$stdin.gets)==nil
		$stdout.puts linea
		#fsalida.puts linea
	end

	fsalida.close
-->

<a  href="/facturas">Volver</a>
