<fieldset style="vertical-align: middle; width: 30%">
  <legend>Nueva factura</legend>
  <p>

<%= render 'form' %>
       </p>
  </fieldset>
<%= link_to 'Back', facturas_path, {:class => "botonLink"} %>
