<fieldset style="vertical-align: middle; width: 20%">
  <legend>Editar línea</legend>
  <p>

<%= render 'form' %>
    </p>
  </fieldset>
<br>
<%= link_to 'Volver', @factura, {:class => "botonLink"}  %>
